.bookmark-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bookmark-list-header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.bookmark-list-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

.bookmark-list-items {
  flex: 1;
  overflow-y: auto;
}

